*{
    font-family: monospace;
}
.container{
    width: 100%;
    label, button{
        display: block;
        padding: .5em;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    };
}