*{
    font-family: monospace;
}
.container{
    width: 100vw;
    label, button{
        display: block;
        padding: .5em;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        main{
            margin: auto;
            p{
                margin-top: 0px;
                color: brown;
            }
        }
    }
}