* {
  font-family: monospace;
}

:root {
  --color: red;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container label, .container button {
  margin: 2%;
}
